{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Sign in{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Sign in</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>
        New user?
        <a href="{{ url_for('auth.register') }}">
            Click here to Sign up
        </a>
    </p>
    <p>
    	Forget your password?
        <a href="{{ url_for('main.developing') }}">
            Click here to reset it
        </a>
    </p>
</div>
{% endblock %}