/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}


/*Album css*/
.card > hr {
	margin-right: 0px; margin-left: 0px;
}
.card > :first-child.list-group :first-child.list-group-item {
	border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;
}
.card > :last-child.list-group :last-child.list-group-item {
	border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem;
}
.card-body {
	padding: 1.25rem; flex:1 1 auto;
}
.card-title {
	margin-bottom: 0.75rem;
}
.card-subtitle {
	margin-top: -0.37rem; margin-bottom: 0px;
}
:last-child.card-text {
	margin-bottom: 0px;
}
.card-link:hover {
	text-decoration: none;
}
.card-link + .card-link {
	margin-left: 1.25rem;
}
.card-header {
	padding: 0.75rem 1.25rem; margin-bottom: 0px; border-bottom-color: rgba(0, 0, 0, 0.125); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgba(0, 0, 0, 0.03);
}
:first-child.card-header {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0px 0px;
}
.card-header + .list-group :first-child.list-group-item {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.card-footer {
	padding: 0.75rem 1.25rem; border-top-color: rgba(0, 0, 0, 0.125); border-top-width: 1px; border-top-style: solid; background-color: rgba(0, 0, 0, 0.03);
}
:last-child.card-footer {
	border-radius: 0px 0px calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-header-tabs {
	margin-right: -0.62rem; margin-bottom: -0.75rem; margin-left: -0.62rem; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.card-header-pills {
	margin-right: -0.62rem; margin-left: -0.62rem;
}
.card-img-overlay {
	padding: 1.25rem; left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute;
}
.card-img {
	border-radius: calc(.25rem - 1px); width: 100%;
}
.card-img-top {
	width: 100%; border-top-left-radius: calc(.25rem - 1px); border-top-right-radius: calc(.25rem - 1px);
}
.card-img-bottom {
	width: 100%; border-bottom-right-radius: calc(.25rem - 1px); border-bottom-left-radius: calc(.25rem - 1px);
}
.card-deck {
	display: flex; flex-direction: column;
}
.card-deck .card {
	margin-bottom: 15px;
}
@media all and (min-width:576px)
{
.card-deck {
	flex-flow:row wrap; margin-right: -15px; margin-left: -15px;
}
.card-deck .card {
	flex:1 0 0%; margin-right: 15px; margin-bottom: 0px; margin-left: 15px; display: flex; flex-direction: column;
}
}
.card-group {
	display: flex; flex-direction: column;
}
.card-group .card {
	margin-bottom: 15px;
}
@media all and (min-width:576px)
{
.card-group {
	flex-flow:row wrap;
}
.card-group .card {
	flex:1 0 0%; margin-bottom: 0px;
}
.card-group .card + .card {
	margin-left: 0px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.card-group :first-child.card {
	border-top-right-radius: 0px; border-bottom-right-radius: 0px;
}
.card-group :first-child.card .card-img-top {
	border-top-right-radius: 0px;
}
.card-group :first-child.card .card-img-bottom {
	border-bottom-right-radius: 0px;
}
.card-group :last-child.card {
	border-top-left-radius: 0px; border-bottom-left-radius: 0px;
}
.card-group :last-child.card .card-img-top {
	border-top-left-radius: 0px;
}
.card-group :last-child.card .card-img-bottom {
	border-bottom-left-radius: 0px;
}
.card-group :only-child.card {
	border-radius: 0.25rem;
}
.card-group :only-child.card .card-img-top {
	border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;
}
.card-group :only-child.card .card-img-bottom {
	border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem;
}
.card-group :not(:first-child):not(:only-child):not(:last-child).card {
	border-radius: 0px;
}
.card-group :not(:first-child):not(:only-child):not(:last-child).card .card-img-bottom {
	border-radius: 0px;
}
.card-group :not(:first-child):not(:only-child):not(:last-child).card .card-img-top {
	border-radius: 0px;
}
}
.card-columns .card {
	margin-bottom: 0.75rem;
}
@media all and (min-width:576px)
{
.card-columns {
	column-count: 3; column-gap: 1.25rem; -webkit-column-count: 3; -webkit-column-gap: 1.25rem;
}
.card-columns .card {
	width: 100%; display: inline-block;
}
}

.text-muted {
	color: rgb(134, 142, 150) !important;
}


.album {
	padding-top: 3rem; 
	padding-bottom: 3rem; 
	min-height: 50rem; 
	background-color: rgb(247, 247, 247);
}

.card {
	border: 0px currentColor; 
	width: 33.33%; 
	float: left;
    padding: .75rem;
    margin-bottom: 2rem;
	border-radius: 0.25rem; 
	border-image: none; 
	display: flex; 
	position: relative; 
	-ms-word-wrap: break-word; 
	min-width: 0px; 
	flex-direction: column; 
	background-clip: border-box; 
	background-color: rgb(255, 255, 255);
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.container-this{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media all and (min-width:768px)
{
.col-md-5 {
	flex:0 0 41.66%; max-width: 41.66%;
}
.col-md-7 {
	flex:0 0 58.33%; max-width: 58.33%;
}
.order-md-1 {
	order: 1;
}
.order-md-2 {
	order: 2;
}
}