{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UAV_HiRAP{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
    {% if current_user.is_authenticated %}
    Hello, {{ current_user.username }}, Welcome to use the Decision Tree Classifier!
    {% else %}
    Hello, new visitor! please regist and login to use the Decision Tree Classifier.
    {% endif %}
    </h1>
</div>

{% if current_user.is_authenticated %}
    {{ wtf.quick_form(form)}}
{% endif %}

{% endblock %}

