{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UAV_HiRAP{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
    Welcome to use the Decision Tree Classifier! You could:
    </h1>
</div>
<div>
	<h2>Add a new project:</h2>
    <form class="form" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.project_name) }}
    {{ wtf.form_field(form.origin_pic_dir) }}
    <p><font color="gray">Example:[Otindag Sandy land.tif]</font> <img src="{{ url_for('static', filename="ExamplePictures/preview-Classify.jpg") }}" height="5%", width="5%"/></p>
    {{ wtf.form_field(form.fore_trainingdata_dir) }}
    <p><font color="gray">Example:[Tree training picture.png]</font> <img src="{{ url_for('static', filename="ExamplePictures/preview-Tree.png") }}" height="5%", width="5%"/></p>
    {{ wtf.form_field(form.back_trainingdata_dir) }}
    <p><font color="gray">Example:[Sand training picture.png]</font> <img src="{{ url_for('static', filename="ExamplePictures/preview-Sand.png") }}" height="5%", width="5%"/></p>
    <p><font color="red">Note: if training pictures do not have an alpha layer, the black/white background will be counted as training data</font></p>
    {{ wtf.form_field(form.comments) }}
    {{ wtf.form_field(form.submit) }}
    </form>
</div>
<hr />
<div>
	<h2>Or view/edit your former projects:</h2>
</div>
<!-- Use style.css, the example template is for "Post" database. But in this project, we replace "Post" to "DTC_Project", so it is the reason why the following codes' class== post* -->
<ul class="posts">
	{% for dtc_project in dtc_projects %}
    <li class="post">
    	<div class="profile-thumbnail">
				<img class="img-rounded profile-thumbnail" src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.id|string+dtc_project.icon|string) }} ">
		</div>
        <div class="post-content">
        	<div class="post-date">{{ moment(dtc_project.timestamp).fromNow() }}</div>
        	<div class="post-author">
        		<a href="{{ url_for('dtc.inproject', username=current_user.username, project_id=dtc_project.id)}}">
            		{{ dtc_project.project_name }}
            	</a>
        	</div>
        	<div class="post-body">
            	{{ dtc_project.comments }}
            </div>
            <div class="post-foot">
				<a href="{{ url_for('dtc.edit', username=current_user.username, project_id=dtc_project.id) }}">
					<span class="label label-primary">Edit</span>
				</a>
                <a href="{{ url_for('main.developing') }}">
                    <span class="label label-default">Delete</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}

