{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UAV_HiRAP{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
    	[{{ dtc_project.project_name }}]
    </h1>
    <p>
    	<font color='gray', size="4">
    		{{ dtc_project.comments}}
    	</font>
    </p>
    {% if not exist %}
    <p>
    	<font size="3">This project has not been calculated before</font>
    </p>
    	<form method="post">
        {{ wtf.form_field(form.submit_calculate) }}
        </form>
    {% else %}
    <p>
    	<font size="3">This project has been calculated before, you can check the result, download or calculate again</font>
    </p>
    	<form method="post">
        {{ wtf.form_field(form.download) }}
  		{{ wtf.form_field(form.submit_calculate) }}
        </form>
    {% endif %}
</div>
<div>
	<p style="text-align:center;">
		<font size="5">
        	Picture(s) to be classified:
        </font>
    </p>
    <p style="text-align:center;">
    	<img src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.project_name+'/preview200.png') }}" width="30%", height="30%">
    </p>
</div>
<hr />
<div>
	<p style="text-align:center;">
		<font size="5">
        	Training data pictures:
         </font>
    </p>
	<table border="0", align="center">
  		<tr>
    		<td align="center">Foreground</td>
    		<td width="10"> </td>
    		<td align="center">Background</td>
  		</tr>
  		<tr>
    		<td align="center">
    			<img src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.project_name+'/preview_fore.png') }}" style="max-width:100%;"/>
    		</td>
    		<td></td>
    		<td align="center">
    		<img src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.project_name+'/preview_back.png') }}" style="max-width:100%;"/>
    		</td>
  		</tr>
	</table>
</div>
<hr />
<div>
	<p style="text-align:center;">
		<font size="5">
    		Classified results:
    	</font>
    </p>
    {% if exist %}
    <p style="text-align:center;">
    	<img src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.project_name+'/result.png') }}" style="max-width:61.8%;"/>
    </p>
    {% else %}
    <p style="text-align:center;">
    	<font size="4">
    		NONE, please click [Calculate] button to calculate it!
    	</font>
    </p>
    {% endif %}
</div>


{% endblock %}
