{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UAV_HiRAP{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
    	[{{ dtc_project.project_name }}]
    </h1>
    <p>
    	<font color='gray', size="4">
    		{{ dtc_project.comments}}
    	</font>
    </p>
    {% if not exist %}
    <p>
    	<font size="3">This project has not been calculated before</font>
    </p>
    	<form method="post">
        {{ wtf.form_field(form.submit_calculate) }}
        {{ wtf.form_field(form.back) }}
  </form>
    {% else %}
    <p>
    	<font size="3">This project has been calculated before, you can check the result, download or calculate again</font>
    </p>
    	<form method="post">
        {{ wtf.form_field(form.download) }}
  		{{ wtf.form_field(form.submit_calculate) }}
        {{ wtf.form_field(form.back) }}
  </form>
    {% endif %}
</div>
<div>
<table width="100%" border="0", align="center">
  <tr>
    <td rowspan="2", width="25%">
    	<p style="text-align:center;">
			<font size="3">
        	Picture(s) to be classified
        	</font>
    	</p>
    </td>
    <td colspan="2" width="50%">
        <p style="text-align:center;">
            <font size="3">
                Training data pictures
             </font>
        </p>
    </td>
    <td width="25%">
    	<p style="text-align:center;">
			<font size="3">
   			Classified results</font>
    	</p>
    </td>
  </tr>
  <tr>
    <td align="center" width="25%">Foreground</td>
    <td align="center">Background</td>
    <td align="center" width="25%">Percent: nan %</td>
    </tr>
  <tr>
    <td>
    		<img src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.id|string+previews['classify']) }}" width="100%"/>
    </td>
    <td align="center" width="25%">
    	<img src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.id|string+previews['fore']) }}" width="100%"/>
    </td>
    <td align="center">
    		<img src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.id|string+previews['back']) }}" width="100%"/></td>
    <td align="center">
        {% if exist %}
            <img src="{{ url_for('static', filename='UserData/DTC/'+current_user.email+'/'+dtc_project.id|string+previews['result']) }}" width="100%"/>
        {% else %}
        <p style="text-align:center;">
            <font size="4" color="gray">
                NONE, please click [Calculate] button to calculate it!
            </font>
        </p>
        {% endif %}
    </td>
  </tr>
</table>
</div>

{% endblock %}
