{% extends "bootstrap/base.html" %}

{% block title %}UAV_HiRAP{% endblock %}

{% block head %}
{{ super() }}
<meta charset="UTF-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='home.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='home.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
                <li>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('dtc.decision_tree_submit', username=current_user.username) }}">
                {% else %}
                <a href="{{ url_for('auth.login') }}">
                {% endif %}
                My Projects</a>
                </li>
                <li>
                <a href="{{ url_for('main.about_hirap') }}">About UAV-HiRAP</a>
                </li>
                <li>
                <a href="{{ url_for('main.about_us') }}">About Us</a>
                </li>
                <li>
                <a href="{{ url_for('main.publications') }}">Publications</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} | Account<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.my_profile', username=current_user.username) }}">Your Profile</a></li>
                        <li><a href="{{ url_for('main.developing') }}">Settings</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Sign in | Sign up</a></li>
                {% endif %}
                <li>
                {% if session['language'] == 'en' %}
                    <a href="{{ url_for('main.set_language', language='zh') }}" >中文</a>
                {% endif %}
                {% if session['language'] == 'zh' %}
                    <a href="{{ url_for('main.set_language', language='en') }}" >English</a>
                {%  endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">
        &times;
        </button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<!--script src="{{ url_for('static', filename='uploadbar.js') }}"></script>-->
{% endblock %}
