<div class="timeline-panel">
              <div class="timeline-heading">
                <h4>October 2018</h4>
                <h4 class="subheading">课题年度研究进展总结会顺利召开</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">生态质量监测技术研讨会暨国家重点研发计划“森林荒漠湿地生态质量监测技术集成与应用示范”课题年度研究进展总结会顺利召开</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{{ url_for('static', filename='home/update3_sm.png') }}" alt="fig2" style="height:100%!important;">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>October 2018</h4>
                <h4 class="subheading">UAV-HiRAP 3.0版本大更新</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">增加了航线规划功能的同时，更采用Bootstrap4模板对网页UI进行了全面的美化设计</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{{ url_for('static', filename='home/paper_sm.jpg') }}" alt="publish", style="height:100%!important;">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>September 2018</h4>
                <h4 class="subheading">团队在《生态学报》发表论文</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">祝贺团队成员韩冬、王浩舟的论文《基于无人机和机器学习算法的榆树疏林草原植被分类和覆盖度动态估计》成功发表于《生态学报》！</p>
              </div>