<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='home/home.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='home/home.ico') }}" type="image/x-icon">

    <title>News</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='home/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='home/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='news/news.css') }}">
  </head>

  <body>

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="https://www.uav-hirap.org" class="navbar-brand d-flex align-items-center">
            <strong>Home</strong>
          </a>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">UAV-HiRAP News</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#2019" class="btn btn-primary my-2">2019</a>
            <a href="#2018" class="btn btn-secondary my-2">2018</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light" id="2019">
        <section class="text-center">
            <div class="container">
                <h1>2019</h1>
            </div>
        </section>
      
        <div class="container">
          <div class="row">
         
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190305.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员赴辽宁彰武采集文冠果林地数据</b></h5>
                  <p class="card-text">研究生姬婕与中国林科院林业研究所王利兵副研究员课题组学生共4人采集了辽宁彰武文冠果实验林的春季样本数据。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">March 2019</small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
        
        <section class="text-center" id="2018">
            <div class="container">
                <h1>2018</h1>
            </div>
        </section>
        
        <div class="container">
          <div class="row">
        
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181217.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员赴第二届无人机生态/地理应用研讨会作学术报告</b></h5>
                  <p class="card-text">王锋和研究生韩东参加了在广州举办的第二届无人机生态/地理应用研讨会，并以“UAV-HiRAP: 基于无人机平台的植被分类和盖度估计工具及在生态学野外取样设计的启示”为题作了报告。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">December 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181026.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员参加第一届植被遥感学术研讨会</b></h5>
                  <p class="card-text">王锋和研究生李晓雅赴中国南京参加第一届植被遥感学术研讨会，以“UAV-HiRAP: 基于无人机平台的旱地生态系统植被分类和盖度估计工具”为题，做学术报告</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/1.png') }}" alt="image not found">
                <div class="card-body">
                  <h5><b>课题年度研究进展总结会顺利召开</b></h5>
                  <p class="card-text">生态质量监测技术研讨会暨国家重点研发计划“森林荒漠湿地生态质量监测技术集成与应用示范”课题年度研究进展总结会顺利召开</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181010.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>UAV-HiRAP 3.0版本大更新</b></h5>
                  <p class="card-text">增加了航线规划功能的同时，更采用Bootstrap4模板对网页UI进行了全面的美化设计</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181004.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>团队在《生态学报》发表论文</b></h5>
                  <p class="card-text">祝贺团队成员韩冬、王浩舟的论文《基于无人机和机器学习算法的榆树疏林草原植被分类和覆盖度动态估计》成功发表于《生态学报》！</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>

    </main>
    
    <!-- template
        <section class="text-center" id="year">
            <div class="container">
                <h1>2019</h1>
            </div>
        </section>
      
        <div class="container">
          <div class="row">
       
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190305.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>title</b></h5>
                  <p class="card-text">content</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">date</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
                    -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright © CAF-IDS 2018</span>
          </div>
          <div class="col-md-4">
            <span class="copyright">Powered by <a href="https://getbootstrap.com">Bootstrap4</a> and <a href="http://flask.pocoo.org/">Python-Flask</a></span>
          </div>
          <div class="col-md-4">
            <span class="copyright"><a href="#" class="js-scroll-trigger">Back to top</a></span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='home/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    
  </body>
</html>
