<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='home/home.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='home/home.ico') }}" type="image/x-icon">

    <title>News</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='home/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='home/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='news/news.css') }}">
  </head>

  <body>

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="https://www.uav-hirap.org" class="navbar-brand d-flex align-items-center">
            <strong>Home</strong>
          </a>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">UAV-HiRAP News</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#2019" class="btn btn-primary my-2">2019</a>
            <a href="#2018" class="btn btn-secondary my-2">2018</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <section class="text-center" id="2019">
            <div class="container">
                <h1>2019</h1>
            </div>
        </section>
      
       
        <div class="container">
          <div class="row">
         
           <div class="col-md-4">
             <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190822.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>王锋受邀赴北戴河为国家林草局干部做报告</b></h5>
                  <p class="card-text">8月21-24日，由国家林业和草原局荒漠化防治司组织的沙化土地封禁保护区管理与技术培训班在国家林业和草原局管理干部学院北戴河分院顺利举办，王锋受邀为参会人员作了题为“人工智能改变林业——利用无人机智能监测沙化土地和植被恢复”的专题讲座。</p>
              
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                     <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">August 2019</small>
                </div>
               </div>
              </div>
           </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190819.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员与中科院地理所刘纪远课题组共赴内蒙古磴口沙林中心考察</b></h5>
                  <p class="card-text">8月19—22日，王锋携研究生李晓雅赴内蒙古磴口县与中科院地理所刘纪远研究员课题组成员展开为期三天的考察与交流。三天内，他们依次考察了沙林中心实验场和试验样地、奈伦湖、二十里柳子、三盛公水利枢纽与狼山，并在沙林中心举办座谈会，与当地工作人员交流研究进展。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">August 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190813.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员赴南京培训叶绿素荧光观测仪器安装与使用</b></h5>
                  <p class="card-text">8月13-16日，课题组王锋、乌日娜、韩东赴南京大学调试了日光诱导叶绿素荧光观测仪器，并赴南农看望了已在南京农业大学作物表型研究中心工作的穆悦博士。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">Augst 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190803.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>王锋携课题组合作伙伴共赴内蒙古考察</b></h5>
                  <p class="card-text">8月3-8日，东北林业大学郑志民教授、中国林科院林业所王利兵研究员、清华同衡生态城市研究所程兆鹏和王锋共同考察了内蒙古赤峰阿鲁科尔沁旗、克什克腾旗、锡林浩特、正蓝旗、多伦等地，疏林草原、沙地榆树和文冠果基地。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">August 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190715.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组完成浑善达克大样地观测仪器安装与无人机观测</b></h5>
                  <p class="card-text">7月13—16日，中国科学院地理科学与资源研究所段涛博士与乌日娜、韩东、姬婕、李晓雅、工程师共7人前往浑善达克沙地榆树疏林长期定位观测大样地调试涡度、荧光观测设备，同时开展了样地植被无人机观测。期间，大家与段涛博士交流了无人机影像处理过程中的疑难点，段博士结合研究经验提出了一些改进的建议。16日，王锋陪同中国林科院荒漠化所白建华书记及正蓝旗林业局朱景新局长共同了解了样地观测工作与植被恢复状况，随后考察了位于正蓝旗的乌和尔沁林场，探讨了将来建设浑善达克沙地榆树疏林长期定位观测研究站事宜。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">July 2019</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190625.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组赴浑善达克大样地安装观测设备并完成无人机观测</b></h5>
                  <p class="card-text">6月23日­—26日，乌日娜、李晓雅、韩东和仪器公司的工程师一行六人驱车至内蒙古正蓝旗浑善达克榆树疏林大样地进行无人机观测与实验仪器安装，顺利采集了样地影像数据、安装了荧光-通量-气象要素协同观测设备。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">June 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190606.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>硕士研究生韩东顺利完成学位论文答辩</b></h5>
                  <p class="card-text">6月6日，硕士研究生韩东参加了林科院荒漠化所2016级硕士毕业答辩，他以“基于无人机和机器学习算法的榆树疏林草原植被动态研究”为题，报告了硕士研究生期间在浑善达克沙地榆树疏林草原大样地开展的研究工作,顺利通过答辩。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">June 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190520.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>重点研发计划中期检查会议在北京召开</b></h5>
                  <p class="card-text">5月20日，国家重点研发计划“中国陆地生态系统生态质量综合监测技术与规范研究”在中国科学院地理科学与资源研究所召开了中期检查会议,来自不同课题组的代表通过讲解PPT汇报了各自的工作进展。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">May 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190516.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组赴浑善达克榆树大样地无人机观测并完成观测塔安装</b></h5>
                  <p class="card-text">5月16日-18日，课题组成员王锋、乌日娜、韩东、李晓雅协同潘旭斌、刘书润、姚雪玲一行6人前往浑善达克榆树疏林大样地开展5月度观测工作，采集了样地无人机影像并完成了物候观测塔的安装。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">May 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190508.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>重点研发专项课题召开中期检查专家咨询会</b></h5>
                  <p class="card-text">5月8-10日，国家重点研发专项课题“森林荒漠湿地森林荒漠湿地生态质量监测技术集成与应用示范”在北京开展了中期检查专家咨询会，会议结束后课题组代表赴杭州西溪湿地生态监测站开展湿地生态质量监测现场交流。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">May 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190501.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>“Land Degradation & Development”论文正式上线</b></h5>
                  <p class="card-text">王锋在《Land Degradation & Development》发表文章”Vegetation restoration in Northern China: A contrasted picture“，5月1日该文章正式在网站上线。《中国绿色时报》、《科技日报》和《生态学家》（微信公众号）先后以“三北地区由黄变绿：哪里更快、更绿、更好？”、“中国增绿最快的区域在哪里”为题进行了报道。
                    <a href="https://mp.weixin.qq.com/s/n0r-zClqUgbKKtgNr2NQjA">中国绿色时报</a> 中国绿色时报-生态话题<a href="https://mp.weixin.qq.com/s/2x26aBA-TYX4Ff3VqFWuGw">生态学家</a>生态学家。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">May 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190425.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>王锋赴山东淄博为全国防沙治沙政策培训班作报告</b></h5>
                  <p class="card-text">4月25-26日，王锋受邀赴山东淄博原山林场参加由国家林业和草原局荒漠化防治司组织的全国防沙治沙政策培训班，并为学员作了题为“大数据在防沙治沙工程评价、管理和政策中的应用与挑战”的培训报告。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">April 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190421.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组赴浑善达克沙地大样地观测</b></h5>
                  <p class="card-text">4月21-25日，课题组成员乌日娜、韩东、姬婕、李晓雅前往浑善达克沙地大样地观测植被动态、选取荧光观测塔的位置，过程中经历了沙尘与降雪天气，在大家共同努力下，最终圆满完成了数据采集工作。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">April 2019</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
             <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ url_for('static', filename='news/20190408.png') }}" alt="Card image cap">
              <div class="card-body">
                <h5><b>《生态系统质量监测》专刊正式上线</b></h5>
                <p class="card-text">2019年4月《Journal of Resources and Ecology》出版，乌日娜和王锋在这一期专刊上发表论文”The Scientific Conceptual Framework for Ecological Quality of the Dryland Ecosystem: Concepts, Indicators, Monitoring and Assessment“和“A National Key R&D Program: Technologies and and Guidelines for Monitoring Ecological Quality of terrestrial ecosystems in China”。<a href="https://mp.weixin.qq.com/s/tLlyZ_FLVvZ7UazaaWNy0w">文章</a> </p>
              
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </div>
                  <small class="text-muted">April 2019</small>
                 </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190415.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>王锋与乌日娜赴奥地利参加2019年度欧洲地学联盟（EGU）年会</b></h5>
                  <p class="card-text">4月7日－12日，王锋与乌日娜参加了在奥地利维也纳举办的2019年度EGU （European Geosciences Union General Assembly）年会，以海报、口头报告等形式展示了在荒漠生态系统监测、模型和生态系统质量评估方面的重要进展。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">April 2019</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190403.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>王锋代表课题组参加项目研发中期会议</b></h5>
                  <p class="card-text">王锋赴武汉参加了中国陆地生态系统质量综合监测技术与规范研究中期会议，在会上报告了课题研究进度，并与其他成员交流了心得，探讨了未来的发展方向。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">April 2019</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190305.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员赴辽宁彰武采集文冠果林地数据</b></h5>
                  <p class="card-text">研究生姬婕与中国林科院林业研究所王利兵副研究员课题组学生共4人采集了辽宁彰武文冠果实验林的春季样本数据。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">March 2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190124.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员赴辽宁彰武采集数据</b></h5>
                  <p class="card-text">王锋与中国林科院林业研究所王利兵副研究员课题组合作探索利用无人机遥感平台研究木本油料植物表型结构，携研究生姬婕赴辽宁彰武采集文冠果育种林正射影像等数据。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">January 2019</small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
        
        <section class="text-center" id="2018">
            <div class="container">
                <h1>2018</h1>
            </div>
        </section>
        
        <div class="container">
          <div class="row">
        
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181226.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员赴第二届无人机生态/地理应用研讨会作学术报告</b></h5>
                  <p class="card-text">王锋和研究生韩东参加了在广州举办的第二届无人机生态/地理应用研讨会，并以“UAV-HiRAP: 基于无人机平台的植被分类和盖度估计工具及在生态学野外取样设计的启示”为题作了报告。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">December 2018</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181026.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>课题组成员参加第一届植被遥感学术研讨会</b></h5>
                  <p class="card-text">王锋和研究生李晓雅赴中国南京参加第一届植被遥感学术研讨会，以“UAV-HiRAP: 基于无人机平台的旱地生态系统植被分类和盖度估计工具”为题，做学术报告</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181012.png') }}" alt="image not found">
                <div class="card-body">
                  <h5><b>课题组成员赴甘肃敦煌考察</b></h5>
                  <p class="card-text">“森林荒漠湿地生态质量监测技术集成与应用示范”课题组成员前往敦煌展开为期4天的课题考察工作，调研了实验基地与监测站。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/201810112.png') }}" alt="image not found">
                <div class="card-body">
                  <h5><b>课题组成功举办无人机遥感技术图像处理高级培训班</b></h5>
                  <p class="card-text">课题组在中国林科院荒漠化研究所举办了第一届生态质量监测技术学术研讨会暨无人机遥感技术图像处理高级培训班，共计60余名不同领域的学者、专家、研究生等参加了培训。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/201810111.png') }}" alt="image not found">
                <div class="card-body">
                  <h5><b>课题年度研究进展总结会顺利召开</b></h5>
                  <p class="card-text">生态质量监测技术研讨会暨国家重点研发计划“森林荒漠湿地生态质量监测技术集成与应用示范”课题年度研究进展总结会顺利召开。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181010.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>UAV-HiRAP 3.0版本大更新</b></h5>
                  <p class="card-text">增加了航线规划功能的同时，更采用Bootstrap4模板对网页UI进行了全面的美化设计</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20181004.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>团队在《生态学报》发表论文</b></h5>
                  <p class="card-text">祝贺团队成员韩冬、王浩舟的论文《基于无人机和机器学习算法的榆树疏林草原植被分类和覆盖度动态估计》成功发表于《生态学报》！</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">October 2018</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20180918.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>王锋受邀为“三北工程”精准治沙技术与管理培训班作培训报告</b></h5>
                  <p class="card-text">王锋赴阿拉善参加“三北工程”精准治沙技术与管理培训班，并作了题为“大数据在精准治沙工程评价、管理和政策中的应用与挑战”的培训报告。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">September 2018</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20180504.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>团队成员赴第17届中国生态学大会进行学术交流</b></h5>
                  <p class="card-text">研究生韩东参加了在南京召开的第17届中国生态学大会生态遥感与应用分会，并就无人机和机器学习算法对榆树疏林草原植被分类和覆盖度动态估计作了学术报告。</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">May 2018</small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>

    </main>
    
    <!-- template
        <section class="text-center" id="year">
            <div class="container">
                <h1>2019</h1>
            </div>
        </section>
      
        <div class="container">
          <div class="row">
       
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='news/20190305.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h5><b>title</b></h5>
                  <p class="card-text">content</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">date</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
                    -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright © CAF-IDS 2018</span>
          </div>
          <div class="col-md-4">
            <span class="copyright">Powered by <a href="https://getbootstrap.com">Bootstrap4</a> and <a href="http://flask.pocoo.org/">Python-Flask</a></span>
          </div>
          <div class="col-md-4">
            <span class="copyright"><a href="#" class="js-scroll-trigger">Back to top</a></span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='home/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    
  </body>
</html>
