{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_hirap.css') }}">
{% endblock %}

{% block title %}Publications{% endblock %}

{% block page_content %}
<h2 class="blog-post-title"><a id="A"></a>Publications</h2>

<p class="blog-post-meta">
    May 10, 2018 by
    <a href="/about_us#WF">WANG Feng</a>
</p>

<h3>Papers</h3>
    <ol>
        <li>​Haozhou Wang, Feng Wang*, Xueling Yao, Yue Mu, Yongfei Bai, Qi Lu. 2018. UAV-HiRAP: A novel method to improve landscape-level vegetation classification and coverage fraction estimation with unmanned aerial vehicle platform. Remote sensing of environment. (In preparation).</li>
		<li>韩东，王浩舟，王锋*. 2018. 基于无人机和机器学习算法的榆树疏林草原植被分类和覆盖度动态估计.生态学报.（In Revision after review）</li>
        <li>​Yue Mu, Feng Wang*, Bangyou Zheng, Wei Guo, Yiming Feng. 2018. A rapid image-based method to determine the morphological characteristics of gravels on desert pavement. Geomorphology. 304, 89–98.</li>
		<li>穆悦，冯益明，高翔，韩东，吴隐，张谱. 2018. 基于无人机图像的戈壁表面砾石特征空间变化.林业科学研究（已接收）</li>
		<li>Feng Wang*. 2017. Artificial intelligence in research: UAV and artificial intelligence. Science. 357: 28-29.</li> 
    </ol>

<hr />

<h3>Conference</h3>
    <ol>
		<li>韩东，王浩舟，王锋*. 2018. 基于无人机和机器学习算法的榆树疏林草原植被分类和覆盖度动态估计. 第17届中国生态学大会，生态遥感与应用分会. 中国南京，5月4-6日，（学术报告） </li>
		<li>Feng Wang. 2017. How to apply unmanned aerial vehicle and artificial intelligence to monitor ecological plots in dryland ecosystem. The workshop of monitoring techniques of observation stations in China Terrestrial Ecological Research Network. Nanning, China, 13-15 December. (Oral)</li>
		<li>Feng Wang. 2017. The study on vegetation and landforms classification coupled unmanned aerial vehicle and artificial intelligence. The Congress of China Physical Geography. Nanjing, China, 20-22 November. (Oral)</li>
        <li>Haozhou Wang, Feng Wang*, Xueling Yao, Yue Mu, Yongfei Bai*, Qi Lu*. 2017. UAV-HiRAP: A novel method to improve landscape-level vegetation classification and coverage fraction estimation with unmanned aerial vehicle platform. The 12th International Congress of Ecological (INTECOL). Beijing, China, August 21-25.(Oral).</li>
        <li>Wang Feng. 2016. Near-ground remote sensing of ecology and environment monitoring: application and perspective. Lecture. Chinese Agriculture University. Beijing, China, 16 December.（Oral）</li>
        <li>Mu Yue, Wang Feng*, Zheng Bangyou, Feng Yiming*. 2016. The gravel coverage and size of Gobi desert analyzed by a rapid image-based method[C]. IUFRO Regional Congress for Asia and Oceania 2016, Beijing, China, 24-27 October(Poster)</li>
        <li>Wu Yin, Zhang Jing, Yao Xueling, Guo Binbin, Wang Feng*. 2016. A novel spatially explicit model for sparse forest pattern based on digital terrain data. IUFRO Regional Congress for Asia and Oceania 2016, Beijing, China, 24-27 October.(Poster)</li>
        <li>Wang Feng. 2016. UAV: the application in the ecological monitoring. Lecture. Chinese Academy of Inspection and Quarantine. Beijing, China, 16 August.(oral)</li>
    </ol>

<hr />

<h3>Software copyrights</h3>
    <ol>
		<li>无人机高精度影像分析平台[简称: UAV-HiRAP] v2.0  2017. Registration No.: 软著登字第2017SR558256</li>
        <li>无人机高精度影像分析平台[简称: UAV-HPIAP] v1.0 2016. Certificate No.: 软著登字第2016SR198498号</li>
    </ol>
{% endblock %}