{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_hirap.css') }}">
{% endblock %}

{% block title %}Publications{% endblock %}

{% block page_content %}
<h2 class="blog-post-title"><a id="A"></a>Publications</h2>

<p class="blog-post-meta">
    September 13, 2017 by
    <a href="/about_us#WF">WANG Feng</a>
</p>

<h3>Papers</h3>
    <ol>
        <li>Feng Wang*. 2017. Artificial intelligence in research: UAV and artificial intelligence. Science. 357: 28-29.</li>
        <li>​Yue Mu, Feng Wang*, Bangyou Zheng, Wei Guo, Yiming Feng. 2017. A rapid image-based method to determine the morphological characteristics of gravels on desert pavement. Geomorphology. (In review)</li>
        <li>​Haozhou Wang, Feng Wang*, Xueling Yao, Yue Mu, Yongfei Bai, Qi Lu. 2017. UAV-HiRAP: A novel method to improve landscape-level vegetation classification and coverage fraction estimation with unmanned aerial vehicle platform. Remote sensing of environment. (In preparation).</li>
    </ol>

<hr />

<h3>Conference abstracts</h3>
    <ol>
        <li>Haozhou Wang, Feng Wang*, Xueling Yao, Yue Mu, Yongfei Bai*, Qi Lu*. 2017. UAV-HiRAP: A novel method to improve landscape-level vegetation classification and coverage fraction estimation with unmanned aerial vehicle platform. The 12th International Congress of Ecological (INTECOL). Beijing, China, August 21-25, 2017.(Oral).</li>
        <li>Wang Feng. 2016. Near-ground remote sensing of ecology and environment monitoring: application and perspective. Lecture. Chinese Agriculture University. Beijing, China, 16 December.（Oral）</li>
        <li>Mu Yue, Wang Feng*, Zheng Bangyou, Feng Yiming*. 2016. The gravel coverage and size of Gobi desert analyzed by a rapid image-based method[C]. IUFRO Regional Congress for Asia and Oceania 2016, Beijing, China, 24-27 October(Poster)</li>
        <li>Wu Yin, Zhang Jing, Yao Xueling, Guo Binbin, Wang Feng*. 2016. A novel spatially explicit model for sparse forest pattern based on digital terrain data. IUFRO Regional Congress for Asia and Oceania 2016, Beijing, China, 24-27 October.(Poster)</li>
        <li>Wang Feng. 2016. UAV: the application in the ecological monitoring. Lecture. Chinese Academy of Inspection and Quarantine. Beijing, China, 16 August.(oral)</li>
    </ol>

<hr />

<h3>Software copyrights</h3>
    <ol>
        <li>无人机高精度影像分析平台[简称: UAV-HPIAP] v1.0 Certificate No.: 软著登字第1377115号。</li>
        <li>无人机高精度影像分析平台[简称: UAV-HiRAP] v2.0  Registration No.: 2017R11L741172 (In Review)</li>
    </ol>
{% endblock %}